.console {
  .console-wrapper {
    font-size: 0.8rem;
    font-family: 'Source Code Pro', 'Roboto Mono', Monaco, courier, monospace;
    z-index: 10;
    position: absolute;
    top: 80px;
    left: 20px;
  }

  .console-panel {
    background-color: rgba(23, 17, 57, 0.8);
    min-width: 300px;
    border-radius: 4px;
    padding-bottom: 2px;
  }

  .toolbar {
    padding: 1px 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    border-bottom: solid #393265 1px;
    cursor: pointer;

    &:hover {
      background-color: rgb(19, 13, 46);
    }
    &-item {
      padding: 10px 5px;
    }

    &-btn {
      color: #6e68af;
      padding: 7px;
      margin: -7px;
    }
    &-btn:hover {
      color: whitesmoke;
      cursor: pointer;
    }
  }

  .list-status {
    &-default {
      color: #7486d0;
    }
    &-sucsses {
      color: #11a842;
    }
    &-warning {
      color: #d0925d;
    }
    &-error {
      color: #d02331;
    }
  }
  .message-list-table {
    padding: 0;
    margin: 10px 0;
  }
  .message-list {
    margin: 0;
    padding: 0;

    &-id {
      width: 20px;
      text-align: right;
      padding-right: 5px;
      color: #6d6d6d;
    }

    &-tag {
      min-width: 50px;
      text-align: right;
      padding-right: 10px;
      border-right: #6d6d6d 1px solid;
    }

    &-text {
      padding-left: 10px;
      padding-right: 5px;
    }
  }
}
