@import '../../scss/colors/colors';
$btn-border-radius: 3px;

.send-message {
  .emoji-btn {
    font-size: 1.5rem;
    padding: 8px !important;
  }

  .input-group {
    display: flex;

    .input-group-item {
      border-radius: 0;
      border: none;
    }
    .input-group-item:first-child {
      border-top-left-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }
    .input-group-item:last-child {
      border-top-right-radius: $btn-border-radius;
      border-bottom-right-radius: $btn-border-radius;
    }
  }
  .input-btn {
    color: $color-panel-brighter;
    background-color: $color-panel-darker;
    padding: 9px 14px;
    border-radius: $btn-border-radius;

    &:hover {
      background-color: $color-text-link-hover;
      color: white;
      cursor: pointer;
    }

    &:active {
      color: white;
    }

    &.active {
      color: $color-text-link-active;
    }
  }

  .input-btn-clear{
    background-color: $color-panel-brighter;
    color: $color-panel-bright;

    &:hover {
      color: black;
      cursor: pointer;
    }

    &:active {
      color: $color-text-link-active;
    }
  }

  .input-text {
    width: 100%;
    background-color: $color-panel-brighter;
    font-size: 1rem;
    padding-left: 5px;
  }
  .predefined {
    background-color: $color-panel-dark;
    border-bottom-right-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
    padding: 10px 5px;
  }

  .message-predefined-text ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .text-btn {
    color: $color-panel-brighter;
    background-color: $color-panel-dark;
    padding: 9px 14px;
    border-radius: $btn-border-radius;
font-size: 0.9rem;
    &:hover {
      background-color: $color-text-link-hover;
      color: white;
      cursor: pointer;
    }

    &:active {
      color: white;
    }

    &.active {
      color: $color-text-link-active;
    }
  }
}
