.console-panel{
  .panel-wrapper {
    font-size: 0.8rem;
    font-family: 'Source Code Pro', 'Roboto Mono', Monaco, courier, monospace;
    z-index: 10;
    position: absolute;
    top: 80px;
    left: 20px;
  }

  .nicer-panel {
    background-color: rgba(23, 17, 57, 0.8);
    min-width: 300px;

  }

  .toolbar {
    font-size: 0.6rem;
    border-bottom: solid #393265 1px;


    &:hover {
      background-color: rgb(19, 13, 46);
    }


    &-btn {
      color: #6e68af;
    }

  }
}
